.historialDeConfianza {
  width: 100%;
}
.images {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.images .slider {
  position: absolute;
  min-width: 200px;
  min-height: 250px;
  top: 10%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1100px);
  animation: autoRun 20s linear infinite;
}
@keyframes autoRun {
  from {
    transform: perspective(1100px) rotateX(-16deg) rotateY(0deg);
  }
  to {
    transform: perspective(1100px) rotateX(-16deg) rotateY(360deg);
  }
}
.images .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(calc((var(--position) - 1) * (360deg / var(--quantity))))
    translateZ(550px);
}
.images .slider .item .img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Media queries para pantallas de 1090px */
@media (max-width: 1024px) {
  .images {
    height: 80vh;
  }
  .images .slider {
    min-width: 160px;
    min-height: 210px;
    left: calc(50% - 85px);
    transform: perspective(900px);
  }
  .images .slider .item {
    transform: rotateY(calc((var(--position) - 1) * (360deg / var(--quantity))))
      translateZ(400px);
  }
}

/* Media queries para pantallas de 760px */
@media (max-width: 768px) {
  .images {
    height: 60vh;
  }
  .images .slider {
    min-width: 130px;
    min-height: 180px;
    left: calc(50% - 55px);
    transform: perspective(800px);
  }
  .images .slider .item {
    transform: rotateY(calc((var(--position) - 1) * (360deg / var(--quantity))))
      translateZ(300px);
  }
}
@media (min-width: 380px) and (max-width: 480px) {
  .images {
    height: 40vh;
  }
  .images .slider {
    min-width: 60px;
    min-height: 90px;
    left: calc(50% - 30px);
    transform: perspective(300px);
  }
  .images .slider .item {
    transform: rotateY(calc((var(--position) - 1) * (360deg / var(--quantity))))
      translateZ(150px);
  }
}
