.containerLoader {
  background-color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.loaderImg {
  top: 0;
  left: 0;
  width: 340px;
  height: 220px;
  opacity: 0; /* Comienza invisible */
  transform: translateX(100%); /* Comienza desplazado */
  animation: load 2s forwards; /* Duración de la animación */
}
@keyframes load {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  50% {
    opacity: 0.5; /* Cambio de opacidad durante la animación */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* Regresa a su posición original */
  }
}

@media (max-width: 480px) {
  .loaderImg {
    width: 280px;
    height: 160px;
  }
}
