.proyectosRealizados {
  width: 100%;
  height: auto;
}
.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.containerProyect {
  width: 100%;
  height: auto;
  text-align: center;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerProyect .containerImage {
  transform-style: preserve-3d;
  animation: rotar 3s linear infinite;
  inset: 0 0 0 0;
  transform: rotateY(calc((var(--position) - 1)));
}
@keyframes rotar {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(-180deg);
  }
}
.containerText {
  margin-top: 50px;
  font-family: "MontserratText";
  font-size: 24px;
}
