.form {
  margin: 40px auto; /* Centra horizontalmente el formulario */
  width: 70%; /* Ocupa el 70% del ancho de la página */
  height: auto; /* Ajusta la altura automáticamente */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.labelTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Alinea el contenido del form a la izquierda */
  font-family: "MontserratTitle";
  color: #333;
  width: 100%;
  margin: 10px;
}

.labelText {
  font-family: "MontserratText";
  color: #333;
  width: 100%;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "MontserratText";
  color: white !important;
  text-align: center;
  min-width: 30% !important; /* Ancho mínimo */
  margin: 20px;
  font-size: 20px !important;
  transition: transform 0.3s ease, color 0.3s ease;
}
.button:hover {
  background-color: #333 !important;
  border-color: #333 !important;
  transform: scale(1.1);
}
.iconos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  width: 100%;
  animation: slideIn 1s ease forwards;
}
@keyframes slideIn {
  0% {
    transform: translateX(-200vh); /* Salir de la pantalla */
    opacity: 0; /* Comenzar invisible */
  }
  50% {
    transform: translateX(50vh);
    opacity: 1;
  }
  100% {
    transform: translateX(0); /* Posición final */
    opacity: 1; /* Hacer visible */
  }
}

.icon {
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
}
.icon:hover {
  transform: scale(1.1);
}
.phone {
  padding: 10px;
  background-color: #00ff00;
  color: white;
  border-radius: 15px;
}
.whatsapp {
  padding: 5px;
  background: linear-gradient(
    45deg,
    #006400,
    /* DarkGreen */ #228b22,
    /* ForestGreen */ #32cd32,
    /* LimeGreen */ #00ff00,
    /* Green */ #7fff00,
    /* Chartreuse */ #adff2f /* GreenYellow */
  );
  color: #ffffff;
  border-radius: 15px;
}
.ig {
  padding: 5px;
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  color: #ffffff;
  border-radius: 15px;
}
.linkedin {
  padding: 8px;
  background-color: #0077b5; /* Color de fondo de LinkedIn */
  color: white;
  border-radius: 15px;
}
.mensajeAprobado {
  font-family: "MontserratText";
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 60px;
  height: 50vh;
  width: 100%;
  font-size: 40px;
}
@font-face {
  font-family: "MontserratTitle";
  src: url(../../assets/tipografias/MontserratTitle.ttf);
}
@font-face {
  font-family: "MontserratText";
  src: url(../../assets/tipografias/MontserratText.ttf);
}
@media (max-width: 480px) {
  .mensajeAprobado {
    font-size: 24px;
  }
}
