.footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(235, 235, 235);
  margin-top: 20px;
  overflow: hidden;
  padding: 20px;
}
.containerContacto {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
  transition: transform 0.3s ease;
  font-family: "MontserratTitle";
  text-decoration: none;
  color: #333;
}
.containerContacto:hover {
  transform: scale(1.2);
}
.contacto {
  font-size: 22px;
  margin-left: 10px;
  text-decoration: none;
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  width: 100%;
}
.logoImg {
  height: 100px;
  width: 100px;
}
.titulo {
  font-family: "MontserratTitle";
  color: #333;
  font-size: 24px;
  margin-left: 30px;
  flex-wrap: wrap;
}
.flecha {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: transform 0.3s ease;
  margin: 20px;
}
.flecha:hover {
  transform: scale(1.2);
}
.iconContacto,
.iconFlecha {
  text-decoration: none;
  color: #333;
  font-size: 40px;
}
@font-face {
  font-family: "MontserratTitle";
  src: url(../../../assets/tipografias/MontserratTitle.ttf);
}
@media (max-width: 1024px) {
  .footer {
    flex-direction: column;
    justify-content: center; /* Espacio entre los elementos */
    align-items: center; /* Centra verticalmente los elementos */
  }
}
@media (max-width: 768px) {
  .contacto {
    font-size: 18px;
  }
  .logo {
    flex-direction: column;
  }
  .logoImg {
    height: 80px;
    width: 80px;
    margin: 20px;
  }
  .titulo {
    font-size: 18px;
    margin-left: 20px;
  }
  .iconContacto,
  .iconFlecha {
    font-size: 30px;
  }
}
@media (max-width: 480px) {
  .logoImg {
    height: 70px;
    width: 70px;
  }
  .titulo {
    font-size: 16px;
  }
}
