.contenedorTitle {
  margin: 100px;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "MontserratTitle";
  animation: slideIn 1s ease forwards;
  font-size: 40px;
}
@keyframes slideIn {
  0% {
    transform: translateX(-200vh); /* Salir de la pantalla */
    opacity: 0; /* Comenzar invisible */
  }
  50% {
    transform: translateX(50vh);
    opacity: 1;
  }
  100% {
    transform: translateX(0); /* Posición final */
    opacity: 1; /* Hacer visible */
  }
}

.listServices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.service-item {
  width: 600px;
  min-height: 300px;
  padding: 20px;
  margin: 20px;
  background-color: #f0f0f0;
  border-style: inset;
  border-width: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.7s ease, background-color 0.7s ease, color 0.7s ease;
  font-family: "MontserratTitle";
}
.service-item:hover {
  background-color: #333;
  color: white;
  transform: rotateY(15deg);
}
.cardTitle {
  font-size: 32px;
}
.cardText {
  font-size: 22px;
}
.cv {
  text-align: center;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #333;
  letter-spacing: 3px;
  font-size: 24px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
  margin: 30px;
  cursor: pointer;
}
.cv:hover {
  color: white;
  background: #333;
  box-shadow: 0 0 10px #333, 0 0 40px #333, 0 0 80px #333;
  transition-delay: 0.5s;
}
.cv span {
  position: absolute;
  display: block;
}
#span1 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #333);
}
.cv:hover #span1 {
  left: 100%;
  transition: 1s;
}
#span2 {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #333);
}
.cv:hover #span2 {
  right: 100%;
  transition: 1s;
}

@font-face {
  font-family: "MontserratText";
  src: url(../../assets/tipografias/MontserratText.ttf);
}

@font-face {
  font-family: "MontserratTitle";
  src: url(../../assets/tipografias/MontserratTitle);
}

@media (max-width: 480px) {
  .title {
    font-size: 26px;
  }
  @keyframes slideIn {
    0% {
      transform: translateX(-100vh); /* Salir de la pantalla */
      opacity: 0; /* Comenzar invisible */
    }
    50% {
      transform: translateX(20vh);
      opacity: 1;
    }
    100% {
      transform: translateX(0); /* Posición final */
      opacity: 1; /* Hacer visible */
    }
  }
  .service-item {
    width: 350px;
    min-height: 150px;
  }
  .contenedorTitle {
    margin: 50px;
  }
  .cardTitle {
    font-size: 26px;
  }
  .cardText {
    font-size: 18px;
  }
}
